container_commands:
  installBower:
    command: "$NODE_HOME/bin/npm install -g bower"
  installGulp:
    command: "$NODE_HOME/bin/npm install -g gulp"
  runBower:
    command: "$NODE_HOME/lib/node_modules/bower/bin/bower --config.interactive=false install -f"
  runGulp:
    command: "$NODE_HOME/lib/node_modules/gulp/bin/gulp.js build"
